$backgound_color: #69c0ff;

html,
body {
    overflow: hidden;
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: $backgound_color;
    background-image: linear-gradient(to bottom right, #69c0ff 0%, #b7eb8f 100%);
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    height: 6rem;
    position: absolute;
    z-index: 2020;
    background-color: rgba(255, 255, 255, 0);
}

.navbar__desktop {
    width: 100%;
    display: flex;
    position: relative;
}

.navbar__mobile {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    .nav-menu {
        align-items: center;
        display: block;
        font-size: 2rem;
        height: 3rem;
        justify-content: center;
        opacity: 1;
        transition-property: opacity, transform, width, font-size;
        will-change: opacity, transform, width, font-size;
        transition-duration: 250ms;
        user-select: none;
        &::after {
            content: "";
            display: block;
            border-bottom: 1px solid #fff;
            margin: auto;
            margin-top: -2px;
            width: 0rem;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
        }
        &:active {
            opacity: 1;
            font-size: 2.2rem;
            transform: translateY(-20px);
            transition-duration: 250ms;
            &::after {
                width: 3rem;
            }
        }
    }
    .nav-list {
        display: none;
        text-align: center;
        position: absolute;
        margin: 0;
        left: 0;
        top: 6rem;
        width: 100%;
        z-index: 1;
        a {
            border: 1px solid;
            border-color: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.show-list {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-list {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    // flex-wrap: wrap;
    li {
        height: 3rem;
        margin-right: 0.5rem;
        text-align: center;
        width: 200px;
    }

    a {
        align-items: center;
        display: block;
        font-size: 1.7rem;
        height: 3rem;
        justify-content: center;
        opacity: 1;
        transition-property: opacity, transform, width, font-size;
        will-change: opacity, transform, width, font-size;
        transition-duration: 450ms;
        &::after {
            content: "";
            display: block;
            border-bottom: 1px solid #fff;
            margin: auto;
            margin-top: -2px;
            width: 0rem;
            transition-duration: 550ms;
            transition-timing-function: ease-in-out;
        }
        &:hover {
            opacity: 1;
            font-size: 2.2rem;
            transform: translateY(-12px);
            &::after {
                width: 3rem;
            }
        }
        &:active {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

.realbody {
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    scroll-behavior: smooth;
}

.wallpaper {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.wallpaper {
    background-image: url("../../img/wallpaper.jpeg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
}

.content {
    display: flex;
    position: relative;
    min-height: 100vh;
    margin: 0;
    /*perspective 可以让该控件在scroll可继续向下很远的距离*/
    // perspective: 10000px;
}

.side {
    max-height: 20rem;
    max-width: 20rem;
}

.about {
    max-width: 26rem;
}

@media screen and (max-width: 599px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
    }

    .home-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        display: none;
    }

    .side {
        margin-bottom: 3rem;
        width: 100%;
    }

    .navbar__mobile {
        display: flex;
    }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
    }
    .home-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
            flex-basis: 300px;
        }
    }

    .side {
        margin-bottom: 3rem;
        width: 100%;
    }

    .navbar__mobile {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .content {
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: 4rem;
    }

    .home-block {
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
    }

    .side {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        margin-left: 4rem;
        order: 2;
        width: 20rem;
    }

    .about {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .navbar__mobile {
        display: none;
    }
}

.wallpaper,
.picture-shadow,
.picture-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: center;
}

.picture {
    padding-top: 100%;
    position: relative;
    width: 100%;
    transition-duration: 500ms;
    z-index: 2000;
}

.picture-music {
    animation: picChange 0.5s, rotation 3s linear 0.5s infinite;
}

.picture-music-back {
    animation: picReturn 0.5s linear;
}

.picture-shadow {
    border-radius: 290486px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0%;
}

.picture-image {
    border-radius: 290486px;
    position: absolute;
    // background-color: $backgound_color;
    // background-image: linear-gradient(to bottom right, $backgound_color, #b7eb8f);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.name {
    font-size: 2.25rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.job,
.button {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.job {
    color: #fff566;
    font-size: 1.2rem;
}

.hr {
    background-color: #fff;
    border: 0.5px solid;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 10rem;
}

.description {
    font-size: 1.5rem;
}

.contact {
    display: inline-block;
    margin-top: 1.5rem;
    vertical-align: top;
}

.button,
.social a {
    transform-origin: center;
    transition-duration: 500ms;
}

.button {
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #69c0ff;
    display: inline-block;
    font-weight: bolder;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25rem 2rem;
    text-shadow: none;
    transition-property: box-shadow, transform, color, font-size;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform, color, font-size;
    &:hover {
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        // color: #b7eb8f;
        font-size: 0.9rem;
        transform: translateY(-4px);
    }
}

.social {
    display: flex;
    margin-top: 1.5rem;

    li {
        height: 2rem;
        margin-right: 0.5rem;
        text-align: center;
        width: 2rem;
    }

    a {
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        height: 2rem;
        justify-content: center;
        opacity: 0.6;
        transition-property: opacity, transform;
        width: 2rem;
        will-change: opacity, transform;
        &:hover {
            opacity: 1;
            transform: scale(1.25);
        }
        &:active {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

.home-block {
    display: flex;
    position: relative;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8rem;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.resume-block,
.services-block,
.blog-block,
.contact-block {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 3rem;
    overflow: hidden; /* make sure child div could adopt boder*/
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    h2 {
        // width: 200px;
        display: inline-block;
        transition-duration: 500ms;
        &:hover {
            // box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
            // color: #b7eb8f;
            color: black;
            font-size: 4rem;
            // transform: translateY(-4px);
            transition-duration: 500ms;
        }
    }
}

.resume-title,
.services-title,
.contact-title {
    font-size: 3rem;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 3rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.rseume-body {
    display: flex;
    /* width: 300px; */
    // flex-direction: column;
}
.resume-context {
    margin: 2rem;
    display: block;
}

.resume-context-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    display: block;
    h3 {
        // width: 200px;
        display: inline-block;
        transition-duration: 500ms;
        &:hover {
            // box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
            // color: #b7eb8f;
            color: black;
            font-size: 2.2rem;
            transform: translateY(-4px);
            transition-duration: 500ms;
        }
    }
}

.resume-context-body {
    border-left: rgba(255, 255, 255, 0.5) 1px solid;
    padding-left: 2rem;
    // margin: 2.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.resume-element {
    position: relative;
    padding-left: 2.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-left: rgba(255, 255, 255, 0.5) 1px solid;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    transition-duration: 300ms;

    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        width: 2rem;
        height: 12px;
        top: 2.85rem;
        left: -3.05rem;
        border: 2px solid rgba(255, 255, 255, 0.5);
        z-index: 2;
    }
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        width: 1.05rem;
        height: 2px;
        top: 3.15rem;
        left: -1.1rem;
        z-index: 1;
    }
    &:hover {
        color: black;
        transform: translateY(-4px);
        background-color: white;
        transition-duration: 300ms;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        h4 {
            color: #096dd9;
            transform: translateY(-4px);

            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
        span {
            color: #08979c;
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
        p {
            color: #722ed1;
            transform: translateY(4px);
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
    }
    h4 {
        display: block;
        font-size: 1.7rem;
        transition-duration: 300ms;
    }
    span {
        display: inline-block;

        font-size: larger;
        transition-duration: 300ms;
    }
    p {
        display: block;
        font-size: larger;
        transition-duration: 300ms;
    }
}

.resume-element-small {
    position: relative;
    padding-left: 2.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-left: rgba(255, 255, 255, 0.5) 1px solid;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition-duration: 300ms;

    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        width: 2rem;
        height: 12px;
        top: 2.85rem;
        left: -3.05rem;
        border: 2px solid rgba(255, 255, 255, 0.5);
        z-index: 2;
    }
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        width: 1.05rem;
        height: 2px;
        top: 3.15rem;
        left: -1.1rem;
        z-index: 1;
    }
    &:hover {
        color: black;
        transform: translateY(-4px);
        background-color: white;
        transition-duration: 300ms;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        h4 {
            color: #096dd9;
            transform: translateY(-4px);

            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
        span {
            color: #08979c;
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
        p {
            color: #722ed1;
            transform: translateY(4px);
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
    }
    h4 {
        display: block;
        font-size: 1.7rem;
        transition-duration: 300ms;
    }
    span {
        display: inline-block;

        font-size: larger;
        transition-duration: 300ms;
    }
    p {
        display: block;
        font-size: larger;
        transition-duration: 300ms;
    }
}
.resume-body__add-width,
.services-body__add-width {
    width: 4rem;
}

@media screen and (max-width: 1120px) {
    .rseume-body {
        display: flex;
        flex-direction: column;
    }
}
