@charset "UTF-8";
html,
body {
  overflow: hidden;
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #69c0ff;
  background-image: linear-gradient(to bottom right, #69c0ff 0%, #b7eb8f 100%);
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.navbar {
  width: 100%;
  top: 0;
  left: 0;
  height: 6rem;
  position: absolute;
  z-index: 2020;
  background-color: rgba(255, 255, 255, 0);
}

.navbar__desktop {
  width: 100%;
  display: flex;
  position: relative;
}

.navbar__mobile {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}
.navbar__mobile .nav-menu {
  align-items: center;
  display: block;
  font-size: 2rem;
  height: 3rem;
  justify-content: center;
  opacity: 1;
  transition-property: opacity, transform, width, font-size;
  will-change: opacity, transform, width, font-size;
  transition-duration: 250ms;
  user-select: none;
}
.navbar__mobile .nav-menu::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: auto;
  margin-top: -2px;
  width: 0rem;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
.navbar__mobile .nav-menu:active {
  opacity: 1;
  font-size: 2.2rem;
  transform: translateY(-20px);
  transition-duration: 250ms;
}
.navbar__mobile .nav-menu:active::after {
  width: 3rem;
}
.navbar__mobile .nav-list {
  display: none;
  text-align: center;
  position: absolute;
  margin: 0;
  left: 0;
  top: 6rem;
  width: 100%;
  z-index: 1;
}
.navbar__mobile .nav-list a {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-list {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-list {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}
.nav-list li {
  height: 3rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 200px;
}
.nav-list a {
  align-items: center;
  display: block;
  font-size: 1.7rem;
  height: 3rem;
  justify-content: center;
  opacity: 1;
  transition-property: opacity, transform, width, font-size;
  will-change: opacity, transform, width, font-size;
  transition-duration: 450ms;
}
.nav-list a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: auto;
  margin-top: -2px;
  width: 0rem;
  transition-duration: 550ms;
  transition-timing-function: ease-in-out;
}
.nav-list a:hover {
  opacity: 1;
  font-size: 2.2rem;
  transform: translateY(-12px);
}
.nav-list a:hover::after {
  width: 3rem;
}
.nav-list a:active {
  opacity: 1;
  transform: scale(1.1);
}

.realbody {
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  scroll-behavior: smooth;
}

.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.wallpaper {
  background-image: url("../../img/wallpaper.jpeg");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: fixed;
}

.content {
  display: flex;
  position: relative;
  min-height: 100vh;
  margin: 0;
  /*perspective 可以让该控件在scroll可继续向下很远的距离*/
}

.side {
  max-height: 20rem;
  max-width: 20rem;
}

.about {
  max-width: 26rem;
}

@media screen and (max-width: 599px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }

  .home-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    display: none;
  }

  .side {
    margin-bottom: 3rem;
    width: 100%;
  }

  .navbar__mobile {
    display: flex;
  }
}
@media screen and (max-width: 799px) and (min-width: 600px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }

  .home-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    justify-content: center;
    align-items: center;
  }
  .nav-list li {
    flex-basis: 300px;
  }

  .side {
    margin-bottom: 3rem;
    width: 100%;
  }

  .navbar__mobile {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .content {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }

  .home-block {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }

  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .navbar__mobile {
    display: none;
  }
}
.wallpaper,
.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: center;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
  transition-duration: 500ms;
  z-index: 2000;
}

.picture-music {
  animation: picChange 0.5s, rotation 3s linear 0.5s infinite;
}

.picture-music-back {
  animation: picReturn 0.5s linear;
}

.picture-shadow {
  border-radius: 290486px;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0%;
}

.picture-image {
  border-radius: 290486px;
  position: absolute;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job,
.button {
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.job {
  color: #fff566;
  font-size: 1.2rem;
}

.hr {
  background-color: #fff;
  border: 0.5px solid;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 10rem;
}

.description {
  font-size: 1.5rem;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.button,
.social a {
  transform-origin: center;
  transition-duration: 500ms;
}

.button {
  background-color: #fff;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #69c0ff;
  display: inline-block;
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25rem 2rem;
  text-shadow: none;
  transition-property: box-shadow, transform, color, font-size;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform, color, font-size;
}
.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  transform: translateY(-4px);
}

.social {
  display: flex;
  margin-top: 1.5rem;
}
.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}
.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.6;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}
.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}
.social a:active {
  opacity: 1;
  transform: scale(1.1);
}

.home-block {
  display: flex;
  position: relative;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.resume-block,
.services-block,
.blog-block,
.contact-block {
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 3rem;
  overflow: hidden;
  /* make sure child div could adopt boder*/
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}
.resume-block h2,
.services-block h2,
.blog-block h2,
.contact-block h2 {
  display: inline-block;
  transition-duration: 500ms;
}
.resume-block h2:hover,
.services-block h2:hover,
.blog-block h2:hover,
.contact-block h2:hover {
  color: black;
  font-size: 4rem;
  transition-duration: 500ms;
}

.resume-title,
.services-title,
.contact-title {
  font-size: 3rem;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 3rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.rseume-body,
.services-body {
  display: flex;
  /* width: 300px; */
}

.resume-context,
.services-context {
  margin: 2rem;
  display: block;
}

.resume-context-title,
.services-context-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  display: block;
}
.resume-context-title h3,
.services-context-title h3 {
  display: inline-block;
  transition-duration: 500ms;
}
.resume-context-title h3:hover,
.services-context-title h3:hover {
  color: black;
  font-size: 2.2rem;
  transform: translateY(-4px);
  transition-duration: 500ms;
}

.resume-context-body,
.services-context-body {
  border-left: rgba(255, 255, 255, 0.5) 1px solid;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blog-context-body {
  border-left: rgba(255, 255, 255, 0.5) 1px solid;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blog-element {
  position: relative;
  margin-bottom: 2rem;
}
.blog-element:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 2rem;
  height: 12px;
  top: 2.85rem;
  left: -3.05rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.blog-element:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 1.05rem;
  height: 2px;
  top: 3.15rem;
  left: -1.1rem;
  z-index: 1;
}

.resume-element,
.services-element {
  position: relative;
  padding-left: 2.2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-left: rgba(255, 255, 255, 0.5) 1px solid;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  transition-duration: 300ms;
}
.resume-element:before,
.services-element:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 2rem;
  height: 12px;
  top: 2.85rem;
  left: -3.05rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.resume-element:after,
.services-element:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 1.05rem;
  height: 2px;
  top: 3.15rem;
  left: -1.1rem;
  z-index: 1;
}
.resume-element:hover,
.services-element:hover {
  color: black;
  transform: translateY(-4px);
  background-color: white;
  transition-duration: 300ms;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element:hover h4,
.services-element:hover h4 {
  color: #096dd9;
  transform: translateY(-4px);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element:hover span,
.services-element:hover span {
  color: #08979c;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element:hover p,
.services-element:hover p {
  color: #722ed1;
  transform: translateY(4px);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element h4,
.services-element h4 {
  display: block;
  font-size: 1.7rem;
  transition-duration: 300ms;
}
.resume-element span,
.services-element span {
  display: inline-block;
  font-size: larger;
  transition-duration: 300ms;
}
.resume-element p,
.services-element p {
  display: block;
  font-size: larger;
  transition-duration: 300ms;
}

.resume-element-small {
  position: relative;
  padding-left: 2.2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-left: rgba(255, 255, 255, 0.5) 1px solid;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition-duration: 300ms;
}
.resume-element-small:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 2rem;
  height: 12px;
  top: 2.85rem;
  left: -3.05rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.resume-element-small:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 1.05rem;
  height: 2px;
  top: 3.15rem;
  left: -1.1rem;
  z-index: 1;
}
.resume-element-small:hover {
  color: black;
  transform: translateY(-4px);
  background-color: white;
  transition-duration: 300ms;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element-small:hover h4 {
  color: #096dd9;
  transform: translateY(-4px);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element-small:hover span {
  color: #08979c;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element-small:hover p {
  color: #722ed1;
  transform: translateY(4px);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.resume-element-small h4 {
  display: block;
  font-size: 1.7rem;
  transition-duration: 300ms;
}
.resume-element-small span {
  display: inline-block;
  font-size: larger;
  transition-duration: 300ms;
}
.resume-element-small p {
  display: block;
  font-size: larger;
  transition-duration: 300ms;
}

.resume-body__add-width,
.services-body__add-width {
  width: 4rem;
}

@media screen and (max-width: 1120px) {
  .rseume-body,
.services-body {
    display: flex;
    flex-direction: column;
  }
}
#Foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Foot .foot-block {
  display: block;
  padding: 4rem;
}
#Foot .foot-block .foot-title {
  display: inline-block;
  transition-duration: 300ms;
  cursor: pointer;
}
#Foot .foot-block .foot-title .foot-name {
  display: inline-block;
  font-size: 1rem;
  transition-duration: 300ms;
}
#Foot .foot-block .foot-title .statement {
  display: inline-block;
  font-size: 1rem;
  transition-duration: 300ms;
}
#Foot .foot-block .foot-title:hover .foot-name {
  color: #096dd9;
  font-size: 3rem;
  transform: translateY(-2rem);
  transition-duration: 300ms;
}
#Foot .foot-block .foot-title:hover .statement {
  color: #722ed1;
  font-size: 2rem;
  transform: translateY(-2rem);
  transition-duration: 300ms;
}

.services-body {
  background-color: #fff;
  padding-bottom: 5rem;
}

.services-context {
  background-color: #fff;
  color: black;
}
.services-context h3 {
  font-size: 1.7rem;
  text-align: center;
}

.setGreenColor {
  color: #08979c;
}

.services-gif {
  display: block;
  position: relative;
  width: 100%;
  height: 185px;
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
}
.services-gif img:hover {
  margin-top: -251px;
}

.services-description {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}
.services-description p {
  display: inline-block;
  max-width: 675px;
  text-align: center;
  font-size: 1.2rem;
  transition-duration: 300ms;
}
.services-description p:hover {
  color: black;
  transform: translateY(-4px);
  transition-duration: 300ms;
}

iframe {
  width: 400px;
  height: 225px;
  transition-duration: 300ms;
  border-radius: 1rem;
}
iframe:hover {
  transform: translateY(-5px);
  transition-duration: 300ms;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fillUp {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes picImage {
  from {
    opacity: 0;
    transform: scale(1.2) translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes picShadow {
  from {
    opacity: 0;
    transform: scale(1.2) translateY(4rem);
  }
  to {
    opacity: 1;
    transform: scale(1.1) translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 0.2;
    transform: scale(1);
  }
}
@keyframes pureRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotateX(-30deg) rotateZ(30deg) rotateY(20deg) translateX(0px) translateY(20px) translateZ(-20px) rotate(0deg);
  }
  to {
    transform: rotateX(-30deg) rotateZ(30deg) rotateY(20deg) translateX(0px) translateY(20px) translateZ(-20px) rotate(360deg);
  }
}
@keyframes picChange {
  from {
    transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(0px) translateY(0px) translateZ(0px);
    transition-duration: 0ms;
  }
  to {
    transform: rotateX(-30deg) rotateZ(30deg) rotateY(20deg) translateX(0px) translateY(20px) translateZ(-20px);
    transition-duration: 500ms;
  }
}
@keyframes picReturn {
  from {
    transform: rotateX(-30deg) rotateZ(30deg) rotateY(20deg) translateX(0px) translateY(20px) translateZ(-20px);
    transition-duration: 0ms;
  }
  to {
    transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(0px) translateY(0px) translateZ(0px);
    transition-duration: 500ms;
  }
}
@keyframes blickShow {
  from {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
  to {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.wallpaper,
.picture-shadow,
.picture-image {
  opacity: 0;
}

.home-block {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.wallpaper,
.picture-shadow,
.picture-image,
.name,
.job,
.hr,
.description,
.contact,
.social li {
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.nav-list li {
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.navbar__mobile .nav-menu {
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.navbar__mobile .nav-list .nav-link {
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.contact {
  animation-name: bounceIn;
  animation-delay: 600ms;
}

.home-block {
  animation-duration: 3000ms;
  animation-name: blickShow;
  animation-delay: 800ms;
  animation-fill-mode: both;
}

.picture-shadow,
.picture-image {
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0, 0.5, 0.25, 1.25);
}

.wallpaper {
  animation-timing-function: ease-out;
}

.wallpaper.is-loaded {
  animation-delay: 1000ms;
  animation-name: zoomOut;
}

.picture.is-loaded .picture-shadow {
  animation-name: picShadow;
}

.picture.is-loaded .picture-image {
  animation-name: picImage;
}

.name {
  animation-name: slideDown;
}

.job {
  animation-name: slideUp;
}

.hr {
  animation-name: fillUp;
}

.description {
  animation-name: slideUp;
}

.social li {
  animation-duration: 500ms;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.nav-list li {
  animation-duration: 500ms;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.navbar__mobile .nav-menu {
  animation-duration: 500ms;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.navbar__mobile .nav-list .nav-link {
  animation-duration: 500ms;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.name {
  animation-delay: 100ms;
}

.job {
  animation-delay: 200ms;
}

.hr {
  animation-delay: 300ms;
}

.description {
  animation-delay: 400ms;
}

.picture-shadow {
  animation-delay: 500ms;
}

.picture-image {
  animation-delay: 500ms;
}

.contact {
  animation-delay: 600ms;
}

.social li:nth-child(1) {
  animation-delay: 800ms;
}
.social li:nth-child(2) {
  animation-delay: 900ms;
}
.social li:nth-child(3) {
  animation-delay: 1000ms;
}
.social li:nth-child(4) {
  animation-delay: 1100ms;
}
.social li:nth-child(5) {
  animation-delay: 1200ms;
}

.nav-list li:nth-child(1) {
  animation-delay: 800ms;
}
.nav-list li:nth-child(2) {
  animation-delay: 900ms;
}
.nav-list li:nth-child(3) {
  animation-delay: 1000ms;
}
.nav-list li:nth-child(4) {
  animation-delay: 1100ms;
}
.nav-list li:nth-child(5) {
  animation-delay: 1200ms;
}

.navbar__mobile .nav-menu {
  animation-delay: 500ms;
}

.navbar__mobile .nav-list .nav-link:nth-child(1) {
  animation-delay: 100ms;
}
.navbar__mobile .nav-list .nav-link:nth-child(2) {
  animation-delay: 220ms;
}
.navbar__mobile .nav-list .nav-link:nth-child(3) {
  animation-delay: 340ms;
}
.navbar__mobile .nav-list .nav-link:nth-child(4) {
  animation-delay: 460ms;
}
.navbar__mobile .nav-list .nav-link:nth-child(5) {
  animation-delay: 580ms;
}
